<!-- Modal Trigger -->
<%= link_to 'New Virtual Cheque', new_virtual_cheque_path, remote: true,
    class: 'waves-effect waves-light btn modal-trigger', data: { target: 'modal1' } %>


<div id="modal1" class="modal">
 <%= render 'form' %>
</div>


<% if @virtual_cheques.empty? %>
  There are no virtual cheques
<% else %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Date</th>
        <th>Recipient name</th>
        <th>Amount</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <%= render @virtual_cheques %>
    </tbody>
  </table>
<% end %>




<!--switching between form and persisted object, js-->
  <!--make pretty-->
<!--look into zeros in currency to words - spec-->