<div id="modal1" class="modal">
 <%= render 'form' %>
</div>

<div id="clear_filter"></div>

<% if @virtual_cheques.empty? %>
  <div class="center-align no-virtual-cheques">
    There are no virtual cheques
    <br />
    Start adding virtual cheques by clicking <%= link_to 'here',
      new_virtual_cheque_path, remote: true, class: 'modal-trigger', data: { target: 'modal1' } %>
  </div>
<% else %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Date</th>
        <th>Recipient name</th>
        <th>Amount</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <%= render @virtual_cheques %>
    </tbody>
  </table>
<% end %>
