nav {
  background-color: #26a69a;
  padding: 0 50px;
}

.vcg-modal {
  padding: 20px;
}

.form-elements .modal-footer {
  padding-top: 20px;
}

input[type="submit"] {
  color: #fff;
}

.view-elements {
  display: none;
}
