nav {
  background-color: #26a69a;
  padding: 0 50px;
}

.vcg-modal {
  padding: 20px;
}

.form-elements .modal-footer {
  padding-top: 20px;
}

input[type="submit"] {
  color: #fff;
}

.no-virtual-cheques {
  font-style: italic;
  font-size: 2em;
  padding-top: 20px;
}

#clear_filter {
  padding-top: 30px;
}

.view-elements {
  display: none;
  font-size: 1.1em;

  .title {
    font-style: italic;
    display: inline-block;
  }
}
